@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');
.App {
  background-color: #000000;
  min-height: 100vh;
  text-align: center;

  --cor-components: #3F3636;
  --cor-destaque: #FF0202;
}
.conteudo{
  margin: 70px;
  flex-wrap: wrap;
  display: flex;
}

.navegacao-component{
  color: var(--cor-destaque);
  font-weight:bold;
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
  opacity: .4;
  padding-bottom: 5px;
}

.navegacao-component.active{
  opacity: .9;
  border-bottom: solid 1px var(--cor-destaque);
}